# Files to be ignored for Visual Studio can be found from the link below.
# https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# build results

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# user settings file.

*.suo
*.user

# directories used by NuGET

packages/
NuGet.exe

# ignoring log files.

*.log

# files created by developer tools.

# ncrunch files
*.ncrunch*
*ncrunchtemp*
*_ncrunch_*

Thumbs.db


# build process artefacts.

dist/
intermediate/

# nodejs files used for front end development.

node_modules/

# Bundled JS file that is created by browserify gulp task.

erik.js
